.env
/deployments/
/.vscode/
/build/
/node_modules/
/typechain/
/artifacts/
/cache/
.DS_Store
*.swp
.tmp
/yarn-error.log

.openzeppelin/unknown-31337.json
/scripts/results/*
.openzeppelin/prod-rehearsal-1-unknown-56.json
compiled-typechain
/utils/merkle/distribution-info/*
mock_merkle_distribution.json